examples/exampleflow.json
[
    {
        "id": "68c732176a3f581e",
        "type": "tab",
        "label": "Generic S3 Node examples",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5e4f231b124e012",
        "type": "inject",
        "z": "68c732176a3f581e",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "e1b353d1472216f7"
            ]
        ]
    },
    {
        "id": "7dfb6197f997a6e1",
        "type": "debug",
        "z": "68c732176a3f581e",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "e1b353d1472216f7",
        "type": "List Buckets",
        "z": "68c732176a3f581e",
        "conf": "",
        "name": "",
        "x": 530,
        "y": 200,
        "wires": [
            [
                "7dfb6197f997a6e1"
            ]
        ]
    },
    {
        "id": "ed12bcdae903256f",
        "type": "List Objects",
        "z": "68c732176a3f581e",
        "name": "",
        "conf": "",
        "bucket": "test-node-bucket",
        "maxkeys": "",
        "marker": "",
        "prefix": "",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "7dfb6197f997a6e1"
            ]
        ]
    },
    {
        "id": "2f02572ef0ab2285",
        "type": "inject",
        "z": "68c732176a3f581e",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "b6118fb26c4fa65a"
            ]
        ]
    },
    {
        "id": "671ef02142041653",
        "type": "Get Object",
        "z": "68c732176a3f581e",
        "name": "",
        "conf": "",
        "bucket": "",
        "key": "",
        "versionid": "",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "7dfb6197f997a6e1"
            ]
        ]
    },
    {
        "id": "9c8cc7e30a4abdd7",
        "type": "inject",
        "z": "68c732176a3f581e",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "a726810b2e772ea1"
            ]
        ]
    },
    {
        "id": "5b4a9f0be67ae483",
        "type": "Put Object",
        "z": "68c732176a3f581e",
        "name": "",
        "conf": "",
        "bucket": "",
        "key": "",
        "contentType": "",
        "body": "",
        "upsert": false,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "7dfb6197f997a6e1"
            ]
        ]
    },
    {
        "id": "bc7d60351cf31a5c",
        "type": "inject",
        "z": "68c732176a3f581e",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "71615eb95df1b24a"
            ]
        ]
    },
    {
        "id": "71615eb95df1b24a",
        "type": "function",
        "z": "68c732176a3f581e",
        "name": "Parameters",
        "func": "// File contents, in this example object that is later stringified in json\nconst testJson = {\n    \"Data\": {\n        \"Exists\": true,\n        \"Testing\": \"Dummy data\"\n    },\n    \"Something\": \"Other dummy data\",\n    \"Changes\": true\n}\n\n// Parameters that are later passed to create the object\nconst objectToCreate = {\n    Bucket: 'test-node-bucket',\n    Key: 'TestFile.json',\n    ContentType: 'application/json',\n    Body: JSON.stringify(testJson),\n    Metadata: {\n        \"test\": \"Test MetaData\"\n    }\n}\n\n// Bucket in which the object is going to be created\nmsg.bucket = objectToCreate.Bucket;\n// Object's unique identifier\nmsg.key = objectToCreate.Key;\n// Content type of the object\nmsg.contentType = objectToCreate.ContentType;\n// Object body\nmsg.body = objectToCreate.Body;\n// Metadata for the object\nmsg.metadata = objectToCreate.Metadata;\n// Upsert flag for the node\nmsg.upsert = true;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 480,
        "wires": [
            [
                "5b4a9f0be67ae483"
            ]
        ]
    },
    {
        "id": "143c257ec47c59f6",
        "type": "Delete Object",
        "z": "68c732176a3f581e",
        "name": "",
        "conf": "",
        "bucket": "",
        "key": "",
        "x": 520,
        "y": 560,
        "wires": [
            [
                "7dfb6197f997a6e1"
            ]
        ]
    },
    {
        "id": "bfee40243acf3d81",
        "type": "inject",
        "z": "68c732176a3f581e",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "0eeb127a520e4e52"
            ]
        ]
    },
    {
        "id": "0eeb127a520e4e52",
        "type": "function",
        "z": "68c732176a3f581e",
        "name": "Parameters",
        "func": "// Name of the bucket in which the object is located\nmsg.bucket = 'test-node-bucket';\n// Unique key with which the object is identified for the object that you want to delete\nmsg.key = 'TestFile.json';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 560,
        "wires": [
            [
                "143c257ec47c59f6"
            ]
        ]
    },
    {
        "id": "aa8df3263eb9b4bc",
        "type": "Create Bucket",
        "z": "68c732176a3f581e",
        "name": "",
        "conf": "",
        "bucket": "",
        "x": 520,
        "y": 440,
        "wires": [
            [
                "7dfb6197f997a6e1"
            ]
        ]
    },
    {
        "id": "b9c958a11510dbde",
        "type": "inject",
        "z": "68c732176a3f581e",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "bd77c3bdc0d44f19"
            ]
        ]
    },
    {
        "id": "b6118fb26c4fa65a",
        "type": "function",
        "z": "68c732176a3f581e",
        "name": "Parameters",
        "func": "// Name of the bucket from which you want to list the objects\nmsg.bucket = 'test-node-bucket';\n// Max keys (unsigned integer) that the request will list\nmsg.maxkeys = 200;\n// Marker from which object should the listing begin\nmsg.marker = \"example.json\";\n// Prefix to list objects that contain the specified prefix\nmsg.prefix = \"exmp\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 240,
        "wires": [
            [
                "ed12bcdae903256f"
            ]
        ]
    },
    {
        "id": "a726810b2e772ea1",
        "type": "function",
        "z": "68c732176a3f581e",
        "name": "Parameters",
        "func": "// Name of the bucket in which the object is located\nmsg.bucket = 'test-node-bucket';\n// Unique key with which the object is identified\nmsg.key = 'TestFile.json';\n// Object's specific version ID\nmsg.versionid = 't46ZenlYTZBnj'\n// Flag which specifies wether the body should be stringified or not\nmsg.stringifybody = true;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 360,
        "wires": [
            [
                "671ef02142041653"
            ]
        ]
    },
    {
        "id": "bd77c3bdc0d44f19",
        "type": "function",
        "z": "68c732176a3f581e",
        "name": "Parameters",
        "func": "// Name of the bucket that you want to create\nmsg.bucket = 'test-node-bucket';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 440,
        "wires": [
            [
                "aa8df3263eb9b4bc"
            ]
        ]
    },
    {
        "id": "82cab034e61ab05d",
        "type": "comment",
        "z": "68c732176a3f581e",
        "name": "README",
        "info": "In order for this to work, first you will need to configure S3 client with the defined properties which are used by the nodes\n\nYou can access this configuration node anytime by going into the configuration nodes, under `client-s3 `\n\nNotice that there is List Objects and List Objects V2 nodes. We recommed using List Objects V2 since List Objects is depracted and will be removed with the next major release.",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "bb8495befd450a47",
        "type": "inject",
        "z": "68c732176a3f581e",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "ce7ea9412e44e5d0"
            ]
        ]
    },
    {
        "id": "ce7ea9412e44e5d0",
        "type": "function",
        "z": "68c732176a3f581e",
        "name": "Parameters",
        "func": "// Test Json that is the body of the objects\nconst testJson = {\n    \"Data\": {\n        \"Exists\": true,\n        \"Testing\": \"Dummy data\"\n    },\n    \"Something\": \"Other dummy data\",\n    \"Changes\": true,\n    \"Counter\": 0\n}\n\n// Creating an array of objects that are going to be inserted\nlet objects = [];\nfor (let i = 0; i < 100; i++) {\n\n    // Tweaking the body of the object\n    testJson.Counter = i;\n    let newObj = {};\n\n    // Creating the object\n    newObj = {\n        key: `${i}_${i * 100}.json`,\n        contentType: \"application/json\",\n        body: JSON.stringify(testJson),\n        bucket: 'testing-node-bucket',\n    };\n\n    // Putting all the objects in an array because the Put Objects node as input takes an array \n    objects.push(newObj);\n}\n\n// Objects array\nmsg.objects = objects;\n// Upsert flag for the node\nmsg.upsert = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 520,
        "wires": [
            [
                "652b388bb2f2e393"
            ]
        ]
    },
    {
        "id": "652b388bb2f2e393",
        "type": "Put Objects",
        "z": "68c732176a3f581e",
        "name": "",
        "conf": "",
        "objects": "",
        "upsert": false,
        "x": 530,
        "y": 520,
        "wires": [
            [
                "7dfb6197f997a6e1"
            ]
        ]
    },
    {
        "id": "2c2465918958cf88",
        "type": "List Objects V2",
        "z": "68c732176a3f581e",
        "name": "",
        "conf": "",
        "bucket": "",
        "maxkeys": "",
        "startafter": "",
        "prefix": "",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "7dfb6197f997a6e1"
            ]
        ]
    },
    {
        "id": "aa9f7aa127edd3e1",
        "type": "function",
        "z": "68c732176a3f581e",
        "name": "Parameters",
        "func": "// Name of the bucket from which you want to list the objects\nmsg.bucket = 'test-node-bucket';\n// Max keys (unsigned integer) that the request will list\nmsg.maxkeys = 200;\n// Marker from which object should the listing begin\nmsg.startafter = \"example.json\";\n// Prefix to list objects that contain the specified prefix\nmsg.prefix = \"exmp\";\n// Continuation token which indicates where this listing should be continued from\nmsg.continuationtoken = \"eyJuZXh0S2V5TWFya2VyIjogIjI3XzI3MDAuanNvbiIsICJuZXh0UHJlZml4TWFya2VyIjogIiJ9\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 280,
        "wires": [
            [
                "2c2465918958cf88"
            ]
        ]
    },
    {
        "id": "5812f826950b7906",
        "type": "inject",
        "z": "68c732176a3f581e",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "aa9f7aa127edd3e1"
            ]
        ]
    },
    {
        "id": "793dbb55a559ac55",
        "type": "inject",
        "z": "68c732176a3f581e",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "32117dc38e7426a6"
            ]
        ]
    },
    {
        "id": "32117dc38e7426a6",
        "type": "function",
        "z": "68c732176a3f581e",
        "name": "Parameters",
        "func": "// Name of the bucket from which you want to list the object(s) versions\nmsg.bucket = 'test-node-bucket';\n// Maximum amount of keys (unsigned integer) that the request will list\nmsg.maxkeys = 200;\n// Marker from which object(s) versions should the listing begin\nmsg.keymarker = \"example.json\";\n// Version from which object(s) versions should the listing begin\nmsg.versionidmarker = \"t46ZenlYTZBnj\";\n// Prefix to list object(s) versions that contain the specified prefix\nmsg.prefix = \"exmp\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 320,
        "wires": [
            [
                "592fe00aaba80034"
            ]
        ]
    },
    {
        "id": "592fe00aaba80034",
        "type": "List Object Versions",
        "z": "68c732176a3f581e",
        "name": "",
        "x": 500,
        "y": 320,
        "wires": [
            [
                "7dfb6197f997a6e1"
            ]
        ]
    },
    {
        "id": "c6d4de2862c919c6",
        "type": "Head Object",
        "z": "68c732176a3f581e",
        "name": "",
        "conf": "",
        "bucket": "",
        "key": "",
        "versionid": "",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "7dfb6197f997a6e1"
            ]
        ]
    },
    {
        "id": "2eb2319ddb6518a6",
        "type": "function",
        "z": "68c732176a3f581e",
        "name": "Parameters",
        "func": "// Name of the bucket in which the object is located\nmsg.bucket = 'test-node-bucket';\n// Unique key with which the object is identified\nmsg.key = 'TestFile.json';\n// Object's specific version ID\nmsg.versionid = 't46ZenlYTZBnj'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 400,
        "wires": [
            [
                "c6d4de2862c919c6"
            ]
        ]
    },
    {
        "id": "f0d76f83f174e6dc",
        "type": "inject",
        "z": "68c732176a3f581e",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "2eb2319ddb6518a6"
            ]
        ]
    }
]